<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.study.mapper.NewWordsMapper">
    
    <resultMap type="NewWords" id="NewWordsResult">
        <result property="id"    column="ID"    />
        <result property="userId"    column="USER_ID"    />
        <result property="wordId"    column="WORD_ID"    />
        <result property="status"    column="STATUS"    />
        <result property="wrongTimes"    column="WRONG_TIMES"    />
        <result property="rightTimes"    column="RIGHT_TIMES"    />
        <result property="lastRigthTime"    column="LAST_RIGTH_TIME"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="word"    column="word"    />
    </resultMap>

    <sql id="selectNewWordsVo">
        SELECT
          n.ID,
          n.USER_ID,
          n.WORD_ID,
          n.STATUS,
          n.WRONG_TIMES,
          n.RIGHT_TIMES,
          n.LAST_RIGTH_TIME,
          n.create_by,
          n.create_time,
          n.update_by,
          n.update_time,
          n.remark,
          w.`word`
          FROM new_words n
           LEFT JOIN words w ON n.`WORD_ID` = w.`ID`
    </sql>

    <select id="selectNewWordsList" parameterType="NewWords" resultMap="NewWordsResult">
        <include refid="selectNewWordsVo"/>
        <where>  
            <if test="userId != null "> and USER_ID = #{userId}</if>
            <if test="wordId != null "> and WORD_ID = #{wordId}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="wrongTimes != null "> and WRONG_TIMES = #{wrongTimes}</if>
            <if test="rightTimes != null "> and RIGHT_TIMES = #{rightTimes}</if>
            <if test="lastRigthTime != null "> and LAST_RIGTH_TIME = #{lastRigthTime}</if>
        </where>
    </select>
    
    <select id="selectNewWordsById" parameterType="Long" resultMap="NewWordsResult">
        <include refid="selectNewWordsVo"/>
        where ID = #{id}
    </select>




    <resultMap type="NewWords" id="NewWordsRandomResult">
        <result property="id"    column="ID"    />
        <result property="userId"    column="USER_ID"    />
        <result property="wordId"    column="WORD_ID"    />
        <result property="status"    column="STATUS"    />
        <result property="wrongTimes"    column="WRONG_TIMES"    />
        <result property="rightTimes"    column="RIGHT_TIMES"    />
        <result property="lastRigthTime"    column="LAST_RIGTH_TIME"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="word"    column="word"    />
        <collection property="meansList" column="WORD_ID" javaType="ArrayList"
                    ofType="com.jeethink.study.domain.Means" select="getMeansByWordID"/>
    </resultMap>
    <select id="selectNewWordsRandomList" parameterType="NewWords" resultMap="NewWordsRandomResult">
             SELECT
                  n.ID,
                  n.USER_ID,
                  n.WORD_ID,
                  n.STATUS,
                  n.WRONG_TIMES,
                  n.RIGHT_TIMES,
                  n.LAST_RIGTH_TIME,
                  n.create_by,
                  n.create_time,
                  n.update_by,
                  n.update_time,
                  n.remark,
                  w.`word`
            FROM new_words n
              LEFT JOIN words w ON n.`WORD_ID` = w.`ID`
              ORDER BY RAND() LIMIT 1
    </select>
    <resultMap type="Means" id="MeansByWordIDResultMap">
        <result property="posName"    column="posName"    />
        <result property="posMean"    column="posMean"    />
        <result property="means"    column="means"    />
    </resultMap>
    <select id="getMeansByWordID" resultMap="MeansByWordIDResultMap" parameterType="java.lang.Integer" >
          SELECT
              p.`name` AS posName,
              p.`means` AS posMean,
              m.`means` AS means
              FROM  means m
              LEFT JOIN pos p ON m.`posID` = p.`ID`
              WHERE m.`wordID` = #{WORD_ID}
              ORDER BY  p.`ID`
    </select>



        
    <insert id="insertNewWords" parameterType="NewWords" useGeneratedKeys="true" keyProperty="id">
        insert into new_words
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">USER_ID,</if>
            <if test="wordId != null">WORD_ID,</if>
            <if test="status != null">STATUS,</if>
            <if test="wrongTimes != null">WRONG_TIMES,</if>
            <if test="rightTimes != null">RIGHT_TIMES,</if>
            <if test="lastRigthTime != null">LAST_RIGTH_TIME,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="wordId != null">#{wordId},</if>
            <if test="status != null">#{status},</if>
            <if test="wrongTimes != null">#{wrongTimes},</if>
            <if test="rightTimes != null">#{rightTimes},</if>
            <if test="lastRigthTime != null">#{lastRigthTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateNewWords" parameterType="NewWords">
        update new_words
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">USER_ID = #{userId},</if>
            <if test="wordId != null">WORD_ID = #{wordId},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="wrongTimes != null">WRONG_TIMES = #{wrongTimes},</if>
            <if test="rightTimes != null">RIGHT_TIMES = #{rightTimes},</if>
            <if test="lastRigthTime != null">LAST_RIGTH_TIME = #{lastRigthTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteNewWordsById" parameterType="Long">
        delete from new_words where ID = #{id}
    </delete>

    <delete id="deleteNewWordsByIds" parameterType="String">
        delete from new_words where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>